html{
    color: #507;
    font-family: 'Aladin', 'Comic-sans', 'Times-New-Roman', serif;
    font-size: 150%;
}

nav{
    display: flex;
    flex-direction: row;

}

#logo{
    height: 100px;
    margin-left: 50px;
}

footer{
    padding-top: 200px;
}

menu{
    background-color: #000;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 10;
}

article{
    padding-left: 20px;
    padding-top: 225px;
    width: 77%;
    left: 10%;
}

aside{
    font-size: 150%;
    position: absolute;
    top: 250px;
    left: 78%;
    background-color: #000;
    padding: 1%;
    z-index: 2;
    width: 20%;
    height: 1150px;
    text-shadow: -1px 0 #f8d267, 0 1px #f8d267, 1px 0 #f8d267, 0 -1px #f8d267;
    bottom: 100px;

    /* border: #739; */
}

canvas{
    margin-left: 250px;
}

#aboutUs{
    height: 1650px;
    line-height: 2.7em;
}

#menu{
    text-align: center;
    color: #fff;
    font-size: 20pt;
    padding: 20px;
    background-color: #739;
    width: auto;
    color: #fff;
}

#menu:hover{
    background-color: rgb(136, 102, 153);
    
}

a{
    text-decoration: none;
}

a:link{
    flex: 1;
}

tr:hover{
    background-color: #aaa;
}

#FlavoringTable{
    border-bottom: 1px solid #507;
    margin-right: 5px;
    padding-right: 30px; 
}

#tableSpacing{
    padding-right: 30px;

}
